---
import "../styles/index.css";
import { Image } from "astro:assets";
import followYoga1 from "../assets/follow-yoga-1.png";
import followYoga2 from "../assets/follow-yoga-2.png";
import followYoga3 from "../assets/follow-yoga-3.png";
import followYoga4 from "../assets/follow-yoga-4.png";
import routineYoga1 from "../assets/routine-yoga-1.png";
import routineYoga2 from "../assets/routine-yoga-2.png";
import healthFitness from "../assets/health-fitness.png";
import homeYoga from "../assets/home-yoga.png";
import listYoga from "../assets/list-yoga.png";
import circle from "../assets/circle-img.svg";
import ellipse from "../assets/ellipse-img.svg";
import star from "../assets/star-img.svg";
import star2 from "../assets/star-2-img.svg";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <!--=============== REMIXICONS ===============-->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <title>Responsive yoga website - mormor</title>
  </head>
  <body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">Yoga</a>
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">Home</a>
            </li>
            <li class="nav__item">
              <a href="#health" class="nav__link">Health</a>
            </li>
            <li class="nav__item">
              <a href="#routine" class="nav__link">Routine</a>
            </li>
            <li class="nav__item">
              <a href="#follow" class="nav__link">Follow</a>
            </li>

            <!-- Close button -->
            <div class="nav__close" id="nav-close">
              <i class="ri-close-line"></i>
            </div>
          </ul>
        </div>

        <div class="nav__buttons">
          <!-- Theme change button -->
          <i class="ri-moon-line change-theme" id="theme-button"></i>

          <!-- Toggle button -->
          <div class="nav__toggle" id="nav-toggle">
            <i class="ri-apps-2-line"></i>
          </div>
        </div>
      </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
      <!--==================== HOME ====================-->
      <section class="home section" id="home">
        <div class="home__container container grid">
          <div class="home__data">
            <h1 class="home__title">
              Choose Your
              <div class="home__title-box">
                Best
                <div>Yoga</div>
              </div>
              Teacher

              <img src={star.src} alt="home image" />
            </h1>

            <p class="home__description">
              Calm your mind and body with the best yoga teachers available,
              relax your day and stay positive.

              <img src={circle.src} alt="home image" />
            </p>

            <a href="#" class="button">
              Get Started Free <i class="ri-arrow-right-line"></i>
            </a>

            <div class="home__box">
              <div>
                <h3>300+</h3>
                <span>Yoga Class</span>
              </div>

              <div>
                <h3>40+</h3>
                <span>Participants</span>
              </div>
            </div>
          </div>

          <Image src={homeYoga} alt="home image" class="home__img" />
        </div>
      </section>

      <!--==================== LIST ====================-->
      <section class="list section">
        <div class="list__container container grid">
          <div class="list__content">
            <h1 class="list__number">#01</h1>

            <div class="list__blob">
              <Image src={listYoga} alt="list image" />
            </div>
          </div>
          <div class="list__data">
            <p class="list__description">
              Get a list of specific influencers in your niche at your
              fingertips so you can focus on managing your status.

              <img src={star2.src} alt="list image" />
            </p>

            <a href="#" class="button list__button">
              Next <i class="ri-arrow-right-line"></i>

              <img src={ellipse.src} alt="button image" />
            </a>
          </div>
        </div>
      </section>

      <!--==================== HEALTH ====================-->
      <section class="health section" id="health">
        <div class="health__container container grid">
          <div class="health__data">
            <h2 class="section__title">Bring Happiness To Good Health!</h2>

            <p class="health__description">
              If you take care of your good health, take care of your mentality
              and lead a healthy life with positive thoughts every day.
            </p>

            <a href="#" class="button">
              Let’s Start <i class="ri-arrow-right-line"></i>
            </a>
          </div>

          <div class="health__image">
            <Image src={healthFitness} alt="" class="health__image" />

            <div class="health__rate">
              <div class="health__icon">
                <i class="ri-heart-3-fill"></i>
              </div>

              <div class="health__group">
                <span class="health__title">Heart Rate</span>

                <span class="health__number">168 bpm</span>
              </div>
            </div>

            <div class="health__course">
              <div class="health__group">
                <span class="health__number">500+</span>

                <span class="health__title">Free Courses</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--==================== ROUTINE ====================-->
      <section class="routine section" id="routine">
        <div class="routine__container container grid">
          <div class="routine__data">
            <h2 class="section__title">Anytime, Any Place, Any Workout</h2>

            <p class="routine__description">
              Take your routine at any time of your day, with the new videos and
              with the teachers who will guide you.
            </p>

            <a href="#" class="button">
              Get Started Free <i class="ri-arrow-right-line"></i>
            </a>
          </div>
          <div class="routine__images">
            <Image
              src={routineYoga1}
              alt="routine image"
              class="routine__img-1"
            />
            <Image
              src={routineYoga2}
              alt="routine image"
              class="routine__img-2"
            />

            <div class="routine__box-1">
              <i class="ri-play-circle-fill routine__icon"></i>
              <span class="routine__title">High Quality Video</span>
            </div>

            <div class="routine__box-2">
              <i class="ri-run-fill routine__icon"></i>
              <span class="routine__title">Professional Trainer</span>
            </div>
          </div>
        </div>
      </section>

      <!--==================== FOLLOW ====================-->
      <section class="follow section" id="follow">
        <div class="follow__container container grid">
          <div class="follow__content-1">
            <div class="follow__data">
              <h2 class="section__title follow__title">
                Follow Us On Instagram
                <div>#YOGA</div>
              </h2>

              <a href="#" class="button follow__button">
                Follow <i class="ri-arrow-right-line"></i>
              </a>
            </div>

            <Image src={followYoga1} alt="follow image" class="follow__img-1" />
            <Image src={followYoga2} alt="follow image" class="follow__img-2" />
          </div>

          <div class="follow__content-2">
            <Image src={followYoga3} alt="follow image" class="follow__img-3" />
            <Image src={followYoga4} alt="follow image" class="follow__img-4" />
          </div>
        </div>
      </section>

      <!--==================== JOIN ====================-->
      <section class="join section">
        <div class="join__container container grid">
          <div class="join__content">
            <div>
              <h2 class="join__title">Join our newsletter</h2>

              <p class="join__description">
                Subscribe to our newsletter to be aware of many things on
                discounts, gifts, training and much more. Just enter your email.
              </p>
            </div>

            <form action="" class="join__form">
              <input type="email" placeholder="" class="join__input" />

              <button class="button join__button">
                Subscribe <i class="ri-arrow-right-line"></i>
              </button>
            </form>
          </div>
        </div>
      </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer">
      <div class="footer__container container grid">
        <div class="footer__content grid">
          <div>
            <a href="#" class="footer__logo">Yoga</a>

            <p class="footer__description">
              Take care of your health and <br />
              your mind with the best <br />
              Yoga classes.
            </p>
          </div>

          <div class="footer__data grid">
            <div>
              <h3 class="footer__title">Address</h3>

              <p class="footer__info">
                12345 M/01 Sol <br />
                Avenue, Lima, Peru
              </p>
            </div>
            <div>
              <h3 class="footer__title">Contact</h3>

              <p class="footer__info">
                +123 456 7890 <br />
                yoga@email.com
              </p>
            </div>
            <div>
              <h3 class="footer__title">Office</h3>

              <p class="footer__info">
                Monday - Saturday <br />
                9AM - 10PM
              </p>
            </div>
          </div>
        </div>

        <div class="footer__group">
          <ul class="footer__social">
            <li>
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="footer__social-link"
              >
                <i class="ri-facebook-circle-line"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/"
                target="_blank"
                class="footer__social-link"
              >
                <i class="ri-instagram-line"></i>
              </a>
            </li>
            <li>
              <a
                href="https://twitter.com/"
                target="_blank"
                class="footer__social-link"
              >
                <i class="ri-twitter-line"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/"
                target="_blank"
                class="footer__social-link"
              >
                <i class="ri-youtube-line"></i>
              </a>
            </li>
          </ul>

          <span class="footer__copy">
            &#169; Copyright mormor. All rights reserved
          </span>
        </div>
      </div>
    </footer>

    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="ri-arrow-up-line"></i>
    </a>
  </body>
</html>

<script>
  import ScrollReveal from "scrollreveal";

  /*=============== SHOW MENU ===============*/
  const navMenu = document.getElementById("nav-menu"),
    navToggle = document.getElementById("nav-toggle"),
    navClose = document.getElementById("nav-close");

  /*===== MENU SHOW =====*/
  /* Validate if constant exists */
  if (navToggle) {
    navToggle.addEventListener("click", () => {
      navMenu.classList.add("show-menu");
    });
  }

  /*===== MENU HIDDEN =====*/
  /* Validate if constant exists */
  if (navClose) {
    navClose.addEventListener("click", () => {
      navMenu.classList.remove("show-menu");
    });
  }

  /*=============== REMOVE MENU MOBILE ===============*/
  const navLink = document.querySelectorAll(".nav__link");

  const linkAction = () => {
    const navMenu = document.getElementById("nav-menu");
    // When we click on each nav__link, we remove the show-menu class
    navMenu.classList.remove("show-menu");
  };
  navLink.forEach((n) => n.addEventListener("click", linkAction));

  /*=============== ADD BLUR TO HEADER ===============*/
  function blurHeader() {
    const header = document.getElementById("header");
    // When the scroll is greater than 50 viewport height, add the blur-header class to the header tag
    this.scrollY >= 50
      ? header.classList.add("blur-header")
      : header.classList.remove("blur-header");
  }
  window.addEventListener("scroll", blurHeader);

  /*=============== SHOW SCROLL UP ===============*/
  function scrollUp() {
    const scrollUp = document.getElementById("scroll-up");
    // When the scroll is higher than 350 viewport height, add the show-scroll class to the a tag with the scrollup class
    this.scrollY >= 350
      ? scrollUp.classList.add("show-scroll")
      : scrollUp.classList.remove("show-scroll");
  }
  window.addEventListener("scroll", scrollUp);

  /*=============== SCROLL SECTIONS ACTIVE LINK ===============*/
  const sections = document.querySelectorAll("section[id]");

  const scrollActive = () => {
    const scrollY = window.pageYOffset;

    sections.forEach((current) => {
      if (current instanceof HTMLElement) {
        const sectionHeight = current.offsetHeight,
          sectionTop = current.offsetTop - 58,
          sectionId = current.getAttribute("id"),
          sectionsClass = document.querySelector(
            ".nav__menu a[href*=" + sectionId + "]"
          );

        if (scrollY > sectionTop && scrollY <= sectionTop + sectionHeight) {
          sectionsClass.classList.add("active-link");
        } else {
          sectionsClass.classList.remove("active-link");
        }
      }
    });
  };
  window.addEventListener("scroll", scrollActive);

  /*=============== DARK LIGHT THEME ===============*/
  const themeButton = document.getElementById("theme-button");
  const darkTheme = "dark-theme";
  const iconTheme = "ri-sun-line";

  // Previously selected topic (if user selected)
  const selectedTheme = localStorage.getItem("selected-theme");
  const selectedIcon = localStorage.getItem("selected-icon");

  // We obtain the current theme that the interface has by validating the dark-theme class
  const getCurrentTheme = () =>
    document.body.classList.contains(darkTheme) ? "dark" : "light";
  const getCurrentIcon = () =>
    themeButton.classList.contains(iconTheme) ? "ri-moon-line" : "ri-sun-line";

  // We validate if the user previously chose a topic
  if (selectedTheme) {
    // If the validation is fulfilled, we ask what the issue was to know if we activated or deactivated the dark
    document.body.classList[selectedTheme === "dark" ? "add" : "remove"](
      darkTheme
    );
    themeButton.classList[selectedIcon === "ri-moon-line" ? "add" : "remove"](
      iconTheme
    );
  }

  // Activate / deactivate the theme manually with the button
  themeButton.addEventListener("click", () => {
    // Add or remove the dark / icon theme
    document.body.classList.toggle(darkTheme);
    themeButton.classList.toggle(iconTheme);
    // We save the theme and the current icon that the user chose
    localStorage.setItem("selected-theme", getCurrentTheme());
    localStorage.setItem("selected-icon", getCurrentIcon());
  });

  /*=============== SCROLL REVEAL ANIMATION ===============*/
  const sr = ScrollReveal({
    origin: "top",
    distance: "60px",
    duration: 2500,
    delay: 400,
  });

  sr.reveal(
    `.home__data, .list__container, .join__content, .footer__container`
  );
  sr.reveal(`.home__img`, { origin: "bottom" });
  sr.reveal(`.health__image, .routine__images, .follow__img-3`, {
    origin: "left",
  });
  sr.reveal(`.health__data, .routine__data, .follow__img-4`, {
    origin: "right",
  });
  sr.reveal(`.follow__data, .follow__content-1 img`, { interval: 100 });
</script>
